<div data-uri="{{ default _ref _self }}" class="most-viewed-stories" data-editable="settings">
    <section class="most-viewed">
        <h1>Most viewed stories</h1>
        <ul>
            {{#each stories as |story|}}
            {{#if story}}<li><a href="{{ story.url }}"><span>{{ story.title }}</span></a></li>{{/if}}
            {{/each}}
        </ul>
    </section>
</div>