.advertisement {
    height: 25%;
    padding-top: 5vh;
  
    .advertisement-space {
      position: sticky;
      height: 12.5%;
      top: 1vh;
      text-aling: center;
  
      .sideImage {
        width: 200px;
        height: 200px;
      }
    }
  }
  