.advertisement_top {
  height: 100%;
  padding-top: 5vh;

  .advertisement-space {
    position: sticky;
    height: 12%;
    top: 0;
    text-aling: center;

    .sideImage {
      width: 250px;
      height: 250px;
    }
  }
}
