#myCarousel {
  width: 100%;
  .carousel-inner {
    text-align: center;
    text-align: -webkit-center;
    .item {
      width: 100%;
      height: 100%;
      img {
        @media screen and (max-width: 399.9px) {
          height: 200px;
        }
        @media screen and (min-width: 400px) and (max-width: 599px) {
          height: 250px;
        }
        height: 300px;
      }
    }
  }
}
