.more-to-explore  {
    border-top: 2px solid black;
    margin-top: 2vh;
    
    .title {
        padding-top: 1vh;
        color: black;
        font-size: 1.3vh;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 5px;
        line-height: 1vh;
        margin: 0;
        text-transform: uppercase;
        text-decoration: none;
    }

    ul {
        list-style: none;
        display: flex;

        li {
            display: flex;
            flex-flow: column;

            a {
                padding-top: 1vh;

                .explore-image {
                    max-width: 200px;
                    max-height: 200px;
                    min-width: 198px;
                    min-height: 198px;
                }
        
                .explore-title {
                    max-height: 88.0px;
                    color: #4a4a4a;
                    font-family: miller-text, Georgia, Serif;
                    font-size: 18.0px;
                    line-height: 22.0px;
                    font-weight: normal;
                    text-decoration: none;
                }
            }

            .explore-author {
                color: #767676;
                font-size: 12.0px;
                font-weight: bold;
                text-decoration: none;
                font-family: Elderkin, Arial, sans-serif;
                background-image: null;
                text-align: left;
            }

        }


    }


    
}