.vulture-section-div {
  display: flex;
  justify-content: space-between;

  .vulture-section-title {
    margin-left: 15%;

    h2 {
      font-weight: bold;
      text-align: center;
    }

    .vulture-section-image {
      width: 15vh;
    }
  }

  .vulture-section-buttons {
    display: flex;
    flex-flow: nowrap;
    margin-right: 15%;

    ul {
      display: flex;
      height: fit-content;
      list-style: none;
      padding-top: 10%;

      a {
        align-self: center;
        padding-left: 1vh;
        color: black;
        font-size: 100%;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 1vh;
        margin: 0;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
}
