@media screen and (max-width: 767.9px) {
  .vulture-section-div {
    display: flex;
    justify-content: center;

    .vulture-section-title {
      /* padding-right: 15vh; */

      h2 {
        font-weight: bold;
        text-align: center;
      }

      .vulture-section-image {
        width: 15vh;
      }
    }

    .vulture-section-buttons {
      display: flex;
      flex-flow: nowrap;
      /* padding-left: 10vh; */

      ul {
        display: flex;
        height: fit-content;
        list-style: none;
        padding-top: 10%;

        a {
          align-self: center;
          padding-left: 1vh;
          color: black;
          font-size: 50%;
          font-style: normal;
          font-weight: 400;
          letter-spacing: 1px;
          line-height: 1vh;
          margin: 0;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }

    li:nth-child(n + 2) {
      border-left: 1px solid black;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1179.9px) {
  .vulture-section-div {
    display: flex;
    justify-content: center;

    .vulture-section-title {
      /* padding-right: 15vh; */

      h2 {
        font-weight: bold;
        text-align: center;
      }

      .vulture-section-image {
        width: 15vh;
      }
    }

    .vulture-section-buttons {
      display: flex;
      flex-flow: nowrap;
      padding-left: 10vh;

      ul {
        display: flex;
        height: fit-content;
        list-style: none;
        padding-top: 10%;

        a {
          align-self: center;
          padding-left: 1vh;
          color: black;
          font-size: 80%;
          font-style: normal;
          font-weight: 400;
          letter-spacing: 5px;
          line-height: 1vh;
          margin: 0;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }

    li:nth-child(n + 2) {
      border-left: 1px solid black;
    }
  }
}

@media screen and (min-width: 1180px) {
  .vulture-section-div {
    display: flex;
    justify-content: center;

    .vulture-section-title {
      /* padding-right: 15vh; */

      h2 {
        font-weight: bold;
        text-align: center;
      }

      .vulture-section-image {
        width: 15vh;
      }
    }

    .vulture-section-buttons {
      display: flex;
      flex-flow: nowrap;
      /* padding-left: 10vh; */

      ul {
        display: flex;
        height: fit-content;
        list-style: none;
        padding-top: 10%;

        a {
          align-self: center;
          padding-left: 1vh;
          color: black;
          font-size: 100%;
          font-style: normal;
          font-weight: 400;
          letter-spacing: 5px;
          line-height: 1vh;
          margin: 0;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }

    li:nth-child(n + 2) {
      border-left: 1px solid black;
    }
  }
}
